.threesixty .nav_bar {
    color: #fff !important;
    z-index: 1 !important;
    border-radius: 5px !important;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}
.threesixty .nav_bar.bottom-right {
    bottom: 10px !important;
    right: 20px !important;
}
.threesixty .nav_bar.bottom-left {
    bottom: 10px !important;
    left: 20px !important;
}
.threesixty .nav_bar.top-left {
    top: 10px !important;
    left: 20px !important;
}
.threesixty-products .nav_bar.top-right {
    top: unset;
    bottom: 80px;
    left: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transform: translateX(-50%) !important;
}
.custom-slider-cl {
    position: relative;
    background-color: #f7f7f7 !important;
    padding-top: 0px !important;
    max-width: 570px !important;
    overflow: hidden;
}
.threesixty .nav_bar.top-center {
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.threesixty .nav_bar.bottom-center {
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.threesixty .nav_bar .butn {
    z-index: 2 !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    border-right: 0 !important;
    border-left: 0 !important;
}
.threesixty .nav_bar .butn:first-child {
    border-left: none !important;
}
.threesixty .nav_bar .butn:last-child {
    border-right: none !important;
}
.threesixty .nav_bar .butn span {
    z-index: 13;
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
}
.threesixty .nav_bar .butn span.icon-play {
    background: url(../images/sprite-play.png) no-repeat !important;
}
.threesixty .nav_bar .butn span.icon-pause {
    background: url(../images/sprite-pause.png) no-repeat !important;
}
.threesixty .nav_bar .butn span.icon-forward {
    background: url(../images/sprite-right.png) no-repeat !important;
}
.threesixty .nav_bar .butn span.icon-back {
    background: url(../images/sprite-left.png) no-repeat !important;
}
.threesixty .nav_bar .butn span.icon-fullscreen {
    background: url(../images/sprite-fullscreen.png) no-repeat !important;
    display: none !important;
}
.threesixty .nav_bar .butn span.icon-resize {
    background: url(../images/sprite-fullscreen.png) no-repeat !important;
    display: none !important;
}
.threesixty .nav_bar .butn span.icon-download {
    background: url(../images/sprite-1.png) no-repeat 0px 0;
    display: none !important;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.7;
    background-color: #000;
}
.mfp-close {
    width: 40px;
    height: 40px;
    line-height: 33px;
    font-size: 26px;
    text-align: center;
    position: absolute;
    color: #fff;
    right: 0px;
}
button.mfp-close,
button.mfp-arrow {
    background-color: #000 !important;
}
.threesixty-btn {
    background-color: #000 !important;
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: absolute;
    top: 60px;
    right: 1rem;
    z-index: 1;
    border-radius: 50%;
    position: absolute !important;
    outline: none !important;
    text-decoration: none !important;
}
.threesixty-btn img {
    width: 18px !important;
    height: 18px !important; 
    position: relative;
    top: 5px;
    left: 5px;
}

.slider-side-icons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 25px 25px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.full-screen  {
    background: url(../images/sprite-fullscreen.png) no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.image-zoomin {
    background: url(../images/zoom-in-out.png) no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
}
.image-zoomin a {
    position: absolute;
    bottom: 22px;
}
.threesixty .threesixty_images{
    text-align: center;
}
.threesixty_content_wrap .threesixty .threesixty_images img {
    top: -40px;
    width: auto;
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.threesixty_content_wrap .threesixty .threesixty_images {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 110px;
}
.custom-slider-cl .threesixty .nav_bar.top-right {
    top: unset;
    bottom: 20px;
    left: 50%;
    transform: translateX(calc(-50% - -10px));
    width: max-content;
}
.threesixty-btn,
.slider-side-icons .full-screen,
.slider-side-icons .image-zoomin{
    position: relative;
}
.threesixty-btn:hover::before,
.slider-side-icons .full-screen:hover::before,
.slider-side-icons .image-zoomin:hover::before{
    content: "360 Product View";
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    height: 30px;
    width: 140px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;
}
.slider-side-icons .full-screen:hover::before{
    content: "Full Screen";
    width: 95px;
}
.slider-side-icons .image-zoomin:hover::before{
    content: "Zoom In / Zoom Out";
    width: 155px;   
}
.threesixty-btn:hover::after,
.slider-side-icons .full-screen:hover::after,
.slider-side-icons .image-zoomin:hover::after{
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-left-color: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}
.slider-side-icons .full-screen::after,
.slider-side-icons .image-zoomin::after{
    right: 30px !important;
    top: 15px !important;
}
.short-threesixty-products .threesixty{
    width: 100% !important;
}
.short-threesixty-products .slider-side-icons{
    padding: 0px;
}
.short-threesixty-products .threesixty{
    width: 100% !important;
}
.threesixty .threesixty_images.short-threesixty-products{
    width: 100%;
    height: auto;
}
/* .threesixty_images>li,
.threesixty_images img {
    margin: 0 auto;
    height:auto;
    width: 100%;
    object-fit: contain;
} */
.full-screen-product.enable-show-cursor {
    cursor:pointer !important;
    height: 100% !important;    
    width: 100% !important;
}
.threesixty.threesixty-products.enable-show-cursor {
    cursor: pointer !important;
}
.threesixty_images__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body .panWrapper img {
    max-width: 100% !important;
}
.threesixty_content_wrap .threesixty-products{
    background-color: #fff;
}
.threesixty img.normal.current-image {
    width: 100% !important;
    height: auto !important;
}
img.normal.current-image.fullscreen_img {
    width: auto !important;
}

@media screen and (max-width:768px) {
    div#threesixty_content_wrap {
        width: 100% !important  ;
        margin: 0 auto;
        position: relative;
    }
    .threesixty-btn {
        right: 17%;
    }
}
@media screen and (max-width:660px) {
    .threesixty-btn {
        right: 2%;
    }
}
@media screen and (max-width:650px) {
    .threesixty .nav_bar.top-right {
        top: unset  !important;
        right: unset  !important;
    }
}
@media screen and (max-width:500px) {

    .threesixty .threesixty_images {
        top: 50px;
    }
   .threesixty-btn {
    right: 3%;
}
}
@media screen and (max-width:414px) {
    .threesixty .threesixty_images {
        top: 60px;
    }

    .threesixty .nav_bar.top-right {
        bottom: 49px;
        left: 55%;
    }
}
@media screen and (max-width:360px) {
    .threesixty .nav_bar .butn {
        height: 20px;
    }
    .threesixty-products .threesixty_images {
        top: 160px;
    }
    .threesixty .nav_bar.top-right {
        bottom: 30px !important;
    }
}
@media screen and (max-width:320px) {
    .threesixty .nav_bar.top-right {
        bottom: 20px !important;
        left: 58% !important;
    }
}
@media screen and (max-width:991px) {
    div#threesixty_content_wrap {
        width: 100% !important;
    }
    .woocommerce img, .woocommerce-page img {
        max-width: 100%;
        width: 100%;
    }
    .threesixty-btn img {
        width: 16px !important;
        height: 16px !important;
    }
}
@media screen and (max-width:767px){
    .threesixty-btn {
        right: 12px;
        top: 80px;
        width: 26px;
        height: 26px;
    }
    .enable-show-cursor {
        cursor: pointer !important;
        width: 100% !important;   
    }
    /* .threesixty_images>li, .threesixty_images img {
        margin: 0 auto;
        height: auto;
        width: 85%;
    } */
    .threesixty_content_wrap .threesixty .threesixty_images {
        top: 40px;
    }
}